/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
	}
	
	.map{
        height: 12rem;
        width: 21rem;
        display: inline-block;
        margin-left: 1%;

	}
	.logo {
        padding: 0 0 0 8px;
        position: relative;
        background-color: rgb(171, 209, 230);
        border:grey 1px solid;
        border-radius: 15px;
        width: 165px;
        box-shadow: 5px 5px 5px rgb(191, 225, 252);
        margin: 0px 50px 20px 20px;

	}
	.weathersum {
        border: 2px solid white;
        width: 52%;
        font-size: 12px;
        margin-left: 43;
        padding: 0%;

    }
}